<!doctype html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
      
      <link href="https://cdn.bootcdn.net/ajax/libs/mdui/1.0.2/css/mdui.min.css" rel="stylesheet">
    </head>
    <body>
<div class="mdui-card">
  <div class="mdui-card-content">
    <br/>
    - 1. 您的初始密码已在开通时设置，可直接用于登录。
    <br/>
    - 2. 部分操作(如创建、重装)响应较慢，请耐心等待，不要离开页面。
    <br/>  
    - 3. 创建、重装后SSH端口转发已自动为您重新配置。
    <br/>
  </div>
</div>

<br/>

<br/>


      <div class="mdui-card">
        <div class="mdui-container">
          <div class="mdui-card-content">
            <div class="mdui-typo-title mdui-text-truncase">容器 状态 </div>

            <div class="value-display">
              <p class="mdui-text-truncase">内存: {$data.UsedRam*100/$data.TotalRam}% ( {$data.UsedRam}MB / {$data.TotalRam}MB )</p>
              <div class="mdui-progress">
                <div class="mdui-progress-determinate" style="width: {$data.UsedRam*100/$data.TotalRam}% !important;"></div>
              </div>
            </div>

            <div class="value-display">
              <p class="mdui-text-truncase">硬盘: {$data.UsedDisk*100/$data.TotalDisk}% ( {$data.UsedDisk/1024}GB / {$data.TotalDisk/1024}GB )</p>
              <div class="mdui-progress">
                <div class="mdui-progress-determinate" style="width: {$data.UsedDisk*100/$data.TotalDisk}% !important;"></div>
              </div>
            </div>
            <div class="value-display">
              <p class="mdui-text-truncase">流量: {$data.UseBandwidth*100/$data.Bandwidth}% ( {$data.UseBandwidth}GB / {$data.Bandwidth}GB )</p>
              <div class="mdui-progress">
                <div class="mdui-progress-determinate" style="width: {$data.UseBandwidth*100/$data.Bandwidth}% !important;"></div>
              </div>
            </div>

          </div>
        </div>
      </div>



      <script src="https://cdn.bootcdn.net/ajax/libs/mdui/1.0.2/js/mdui.min.js"></script>
    </body>
</html>
